body,html{
    margin:0;padding:0;
    width:100%;height:100%;
}
body{
    overflow: hidden;
}
p,h3,h4{
    margin:0;padding:0;list-style: none;
}
a{
    color:#fff;text-decoration: none;
    font-family: "Microsoft Yahei";
}
header{
    width:100%;height:60px;
    background: #168bd8;
    position:fixed;top:0;left:0;
    z-index: 999;
}
header .con{
    width:1000px;height:100%;
    display: flex;
    margin:0 auto;
    justify-content: space-around;
    align-items: center;
}

header .logo:nth-child(1){
    width:120px;height:40px;
    background: url(../img/tpjl.png) 0 0;
}
header .index{
    margin-top:20px;
    font-size: 16px;
}
header .index:nth-child(2){
    margin-left: 60px;
}
header .last{
    font-size: 10px;
    padding-top: 30px;
}
header .last:nth-child(5){
    margin-left: 200px;
}
header .last:nth-child(6){
    margin-right:20px;
}
header .last:nth-child(9){
    color:#FFDA28;
}
#fullpage{
    width:100%;height:100%;
}
section{
    width:100%;height:100%;
    position:relative;
}
section:nth-child(1){
    background: url(../img/bg1.jpg);
}
section:nth-child(2){
    background: url(../img/bg-1.jpg);
}
section:nth-child(3){
    background: url(../img/bg-2.jpg);
}
section:nth-child(4){
    background: url(../img/bg-3.jpg);
}
section .section_con{
    width:1000px;height:100%;
    /*border:1px solid red;*/
    margin:0 auto;
    position:relative;
}

/*第一屏*/

/*cloud*/
section .cloud{
    position:absolute;
    top:0;left:0;
    width:100%;height:100%;
    background-size: contain;
    background: url(../img/cloud.png) repeat-y;
    animation:cloud 50s linear infinite;
}
section .cloud:nth-child(2){
    background: url(../img/cloud_1.png)  no-repeat;
}
section .cloud:nth-child(3){
    background: url(../img/cloud_2.png)  no-repeat;
}

@media screen and (max-width: 1000px){
    section .section_con .left{
        width:100%;height:100%;
        position:absolute;
        top:0;left:0;bottom:0;right:0;
        margin:auto;
    }
    section:nth-child(1) .section_con .left .launch{
        width:501px;height:158px;
        position:absolute;
        top:25%;left:20%;
    }

    .section .con_img{
        width:66px;height:123px;
        position:absolute;
        top:30%;left:20%
    }
    .section .con_con{
        width:414px;height:123px;
        position:absolute;
        top:30%;left:30%;
        color:#fff;
    }

}
@media screen and (min-width: 1000px) {
    section .section_con .left{
        width:50%;height:100%;
        position:absolute;
        top:0;left:0;
    }
    section .section_con .right{
        width:15%;height:100%;
        position:absolute;
        top:0;right:0;
    }
    section:nth-child(1) .section_con .left .launch{
        width:501px;height:158px;
        position:absolute;
        top:15%;
    }

    .section .con_img{
        width:66px;height:123px;
        position:absolute;
        top:30%;
    }
    .section .con_con{
        width:414px;height:123px;
        position:absolute;
        top:30%;left:20%;
        color:#fff;
    }

    .section .con2_img{
        width:444px;height:427px;
        position:absolute;top:20%;right:0;
    }
}


section:nth-child(1) .section_con .left .flight{
    width:119px;height:78px;
    position:absolute;
    top:15%;left:60%;
    animation:flight 2s linear infinite alternate;
}

section:nth-child(1) .section_con .right .form{
    position:absolute;
    top:15%;right:0;
}

section .bottom{
    width:100%;
    height:130px;
    position:absolute;
    bottom:0;
    background: url(../img/bg-1.jpg);
}
section .bottom a{
    display: block;width:30px;height:26px;
    margin: 50px auto;
    background: url(../img/arrow.png);
    animation:arrow 1s linear infinite alternate;
}
section .bottom .ship{
    width:242px;height:228px;
    position:absolute;top:-148%;left:25%;
}

section .bottom .hill{
    width:265px;height:175px;
    position:absolute;
    top:-39%;left:0;
}
section .bottom .hill_2{
     width:63px;height:78px;
     position:absolute;
     top:-10%;left:60%;
}
section .bottom .hill_3{
    width:260px;height:175px;
    position:absolute;
    top:-36%;left:80%;
}

section:nth-child(3) .bottom{
    background: url(../img/bg-3-head.png) no-repeat;
}
section:nth-child(4) .con2_img{
    width:603px;height:361px;
}
section .bottom .boxone{
    width:44px;height:44px;
    background: #35b568;
    position:absolute;
    bottom:0;left:20%;
}
section .bottom .boxtwo{
    width:88px;height:88px;
    background: #4ac179;
    position:absolute;
    bottom:0;left:30%;
}
section .bottom .boxthree{
    width:44px;height:44px;
    background: #8ae75a;
    position:absolute;
    bottom:0;left:40%;
}
section .bottom .boxfour{
    width:44px;height:44px;
    background: #8ae75a;
    position:absolute;
    bottom:0;left:70%;
}
section .bottom .boxfive{
    width:44px;height:44px;
    background: #4ac179;
    position:absolute;
    bottom:0;left:80%;
}


.section .con_con h3{
    font-size: 34px;
}
.section .con_img{
    animation: h3rotate 2s linear infinite;
}
.section .con_con p{
    padding-top:15px;
    font-size: 19px;
    line-height: 30px;
}
section:nth-child(4) .bottom{
    color:#fff;
    text-align: center;
    line-height: 130px;
    font-size: 14px;
}
